azure-functions==1.0.4
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
DateTime==4.3
idna==2.8
pytz==2019.3
requests==2.22.0
pip -f https://test.pypi.org/simple/ sosi-configuration-manager==0.0.1565983147
soupsieve==1.9.4
typing==3.7.4.1
urllib3==1.25.6
zope.interface==4.6.0
